# IntelliJ IDEA
.idea/
*.iml

# Maven target directory
target/

# Eclipse project files
.project
.classpath
.settings/

# Mac system files
.DS_Store

# Windows system files
Thumbs.db

# Log files
*.log